input, button{
    font-size: .7rem;
}

.input-group-addon {
    padding: 0.2rem 0.3rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    font-weight: normal;
    line-height: 1.25;
    color: #3e515b;
    text-align: center;
    background-color: #f0f3f5;
    border: 1px solid #c2cfd6;
}

.input-group-addon, .input-group-btn {
    min-width: 20px;
    white-space: nowrap;
    vertical-align: middle;
}

.error-campo-filtro{
    border: solid 2px #f5b5b5;
    background-color: #f7e7e7;
}
