<div style="padding-bottom: 10px;margin-left: 43px">
  <form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroup">Código</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">
        <i class="fa fa-address-book"></i>
      </div>
      <input (keyup.enter)="Buscar(codigo,nombre,esquema)" #codigo type="text" class="form-control" id="inlineFormInputGroup" placeholder="código del {{labelText}}">
    </div>
    <label class="sr-only" for="inlineFormInputGroup">Nombre</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">
        <i class="fa fa-user-circle-o"></i>
      </div>
      <input (keyup.enter)="Buscar(codigo,nombre,esquema)" #nombre type="text" class="form-control" id="inlineFormInputGroup" placeholder="nombre del {{labelText}}">
    </div>
    <label class="sr-only" for="inlineFormInputGroup">Esquema</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">
        <i class="fa fa-object-ungroup"></i>
      </div>
      <input (keyup.enter)="Buscar(codigo,nombre,esquema)" #esquema type="text" class="form-control" id="inlineFormInputGroup" placeholder="nombre de esquema">
    </div>
    <button type="button" (click)="Buscar(codigo,nombre,esquema)" class="btn btn-primary">
      <i class="fa fa-search"></i> Buscar {{labelText}}</button>
      <!-- <loader *ngIf="cargando" style="color: rgb(1, 0, 43) !important"></loader><small *ngIf="cargando" style="margin-left: 15px">cargando ..</small> -->
  </form>
</div>
