<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header-principal">
    <img style="float: left !important" width="80" src="assets/img/empresa-logo.png">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header-principal">
    <span style="margin-right: 20px;">
      <b>{{tituloPagina}}</b>
    </span>
  </div>
</div>