<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <filtro-guias-cliente [clienteCod]="clienteCod"></filtro-guias-cliente>
            </div>
            <div class="card-block detalle-campos">
                <label>Guias del Cliente: "{{clienteNombre}}" para agregar a la Factura # {{factNumero}}</label>
                <tabla-guias-cliente 
                    (guiasCliSelec)="GetGuiasSelec($event)" 
                    [dataSource]="guiasLista" 
                    [factNumero]="factNumero"
                    [widthTabla]="835">
                </tabla-guias-cliente>
            </div>
        </div>
    </div>
</div>