<div class="row" style="z-index: 50;margin-top: -15px;padding-bottom: 30px !important;">
  <div class="col">
    <div ngbDropdown class="d-inline-block" style="position: absolute;z-index: 50;margin: 10px 0 0 0;">

      <button title="Acciones" 
      style="font-size: inherit;padding: 0px 5px !important;margin-top: 1px;background: white;" 
        id="dropdownBasic1" type="button" class="btn btn-secondary"
        ngbDropdownToggle>
        <i class="fa fa-bars" style="font-size: smaller;"></i>
      </button>
      <div class="acciones" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="padding: 5px;">
        <div (click)="NuevaTarifa()" class="input-group mb-2 mr-sm-2 mb-sm-0" style="margin-bottom: 3px !important;">
          <div class="input-group-addon icon-acciones">
            <i class="fa fa-plus-circle"></i>
          </div>
          <a style="text-decoration: none; width: 100%; color: whitesmoke" target="_blank">
            <button style="background-color: lightblue;" class="btn btn-secondary form-control btn-acciones">
              Adicionar
            </button>
          </a>
        </div>
        <div *ngIf="cantidadTarifasSelected == 1" class="input-group mb-2 mr-sm-2 mb-sm-0" style="margin-bottom: 3px !important;">
          <div class="input-group-addon icon-acciones">
            <i class="fa fa-edit"></i>
          </div>
          <a style="text-decoration: none; width: 100%; color: whitesmoke" href="{{tcBaseUrl}}/TC/Rating/frmServiceRatesPq.asp?TrrId={{codigoTarifaEditar}}&Mode=E"
            target="_blank">
            <button style="background-color: #fff298;" 
            [disabled]="cantidadTarifasSelected != 1" class="btn btn-secondary form-control btn-acciones">
              Modificar
            </button>
          </a>
        </div>
        <div *ngIf="cantidadTarifasSelected > 0" class="input-group mb-2 mr-sm-2 mb-sm-0" style="margin-bottom: 3px !important;">
          <div class="input-group-addon icon-acciones">
            <i class="fa fa-calendar-times-o "></i>
          </div>
          <button style="background-color: #f18f8f;" (click)="VencerPopup()" 
          class="btn btn-secondary form-control btn-acciones">Vencer {{'('+cantidadTarifasSelected+')' || ''}}</button>
        </div>
        <div *ngIf="tarifasCantidad > 0" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon icon-acciones">
            <i class="fa fa-file-excel-o"></i>
          </div>
          <button style="background-color: #b1f5ad;" (click)="ExportarExcel()" 
          class="btn btn-secondary form-control btn-acciones">Exportar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-popup
class="popup"
[width]="250"
[height]="160"
[showTitle]="true"
title="Vencimiento de Tarifas"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="popupFechaVisible">
<div *dxTemplate="let data of 'content'">
  <p>Por favor ingrese la fecha de vencimiento</p>
    <div class="btn-group" style="width: 100%;">
        <div class="input-group-addon" title="Fecha Inicial" 
            [ngClass]="{'filtro-requerido': fechaIniReq == 1, 'filtro-opcional':fechaIniReq == 2}">
            <i class="fa fa-calendar"></i>
        </div>
        <input style="text-align: center;" #fechaVenc type="text" class="form-control lower"
             ngbDatepicker #dVenc="ngbDatepicker">
        <button class="input-group-addon" style="width:1rem" (click)="dVenc.toggle()" type="button">
            <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
        </button>
    </div>
    <button [disabled]="fechaVenc.value == ''" style="margin-top:10px" class="btn btn-outline-danger btn-block btn-lg" (click)="VencerTarifas(fechaVenc.value)">Vencer Tarifas</button>
</div>
</dx-popup>