<h6 class="titulos-mod-art">Modelos</h6>
<div class="modelos-articulos-box">
    <table class="table table-responsive table-sm">
        <tbody *ngIf="modelosLista?.length > 0">
            <tr [class.selected-row]="i == _selectedRow" style="cursor:pointer" *ngFor="let mod of modelosLista; let i = index" (click)="ObtenerArticulosPorModelo(i)">
                <td id="{{mod.Codigo}}" (mouseenter)="toggleWithAnimation(mod)" (mouseleave)="toggleWithAnimation(mod)">
                    {{mod.Codigo}}
                </td>
                <td style="text-align: right">
                    <img width="15" style="background: transparent; cursor:pointer; border:none; padding: 0" src="assets/img/excelicon.png" class="img-thumbnail"
                        title="Exportar Tarifas Asociadas" (click)="ExportarTarifasAsoc(mod,i)">
                </td>
            </tr>
            <dx-tooltip target="{{idOnMouseOver}}" position="top" [(visible)]="withAnimationVisible">
                <dxo-animation>
                    <dxo-show type="slide" [from]="{ top: -100, opacity: 0 }" [to]="{ opacity: 1, top: 0 }"></dxo-show>
                    <dxo-hide type="pop" [from]="{ scale: 1, opacity: 1 }" [to]="{ opacity: 0, scale: 0.1 }"></dxo-hide>
                </dxo-animation>
                <div *dxTemplate="let data of 'content'">
                    {{modDescripcion}}
                </div>
            </dx-tooltip>
        </tbody>
    </table>
</div>