<h6 class="titulos-mod-art">Artículos</h6>
<div class="modelos-articulos-box">
    <table class="table table-sm table-responsive">
        <tbody *ngIf="articulosLista?.length > 0">
            <tr [class.selected-row]="i == _selectedRow" *ngFor="let art of articulosLista; let i = index" style="cursor: pointer" (click)="ObtenerTarifasPorArticulo(i)">
                <td id="{{art.Codigo}}" (mouseenter)="toggleWithAnimation(art)" (mouseleave)="toggleWithAnimation(art)">{{art.Codigo}}</td>
                <td style="text-align: right">
                    <img width="15" style="background: transparent; cursor:pointer; border:none; padding: 0" src="assets/img/excelicon.png" class="img-thumbnail"
                        title="Exportar Tarifas Asociadas" (click)="ExportarTarifasAsoc(art,i)">
                </td>
            </tr>
            <dx-tooltip target="{{idOnMouseOver}}" position="top" [(visible)]="withAnimationVisible">
                <dxo-animation>
                    <dxo-show type="slide" [from]="{ top: -100, opacity: 0 }" [to]="{ opacity: 1, top: 0 }"></dxo-show>
                    <dxo-hide type="pop" [from]="{ scale: 1, opacity: 1 }" [to]="{ opacity: 0, scale: 0.1 }"></dxo-hide>
                </dxo-animation>
                <div *dxTemplate="let data of 'content'">
                    {{artDescripcion}}
                </div>
            </dx-tooltip>
        </tbody>
    </table>
</div>