<!-- <span *ngIf="dataSource" class="badge badge-success" style="float:right;font-size: .7rem">
  Valor Total a Liquidar: {{totalLiquidar | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
</span> -->
<dx-data-grid #gridLiquidacionesDet [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer"
  [hoverStateEnabled]="true" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
  [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <!-- <dxi-column dataField="Id"></dxi-column> -->
  <dxi-column *ngIf="mostrarBtnCrearNotaProv" [width]="23" cellTemplate="cellTemplateAgregarNota"></dxi-column>
  <dxi-column dataField="ViajeNumero" caption="Viaje Numero"></dxi-column>
  <dxi-column dataField="ViajeFecha" caption="Viaje Fecha" cellTemplate="cellTemplateFechaOK"></dxi-column>
  <dxi-column dataField="Vehiculo"></dxi-column>
  <dxi-column dataField="Articulo"></dxi-column>
  <dxi-column dataField="UnidadDeMedida" caption="Unidad De Medida"></dxi-column>
  <dxi-column dataField="Cantidad"></dxi-column>
  <dxi-column dataField="CostoUnitario" caption="Costo Unitario" format="currency"></dxi-column>
  <dxi-column dataField="Total" format="currency"></dxi-column>
  <dxi-column dataField="ValorNotas" caption="Valor Notas" format="currency"></dxi-column>
  <dxi-column dataField="ValorNeto" caption="Valor Neto" format="currency"></dxi-column>
  <dxi-column dataField="ViajeSucursalCodigo" caption="Sucursal Cod"></dxi-column>
  <dxi-column dataField="Estado"></dxi-column>
  <dxi-column dataField="CiudadOrigen" caption="Ciudad Origen"></dxi-column>
  <dxo-summary>
    <dxi-total-item
        column="CostoUnitario"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="Total"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="ValorNotas"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="ValorNeto"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
</dxo-summary>
  <dxo-paging [pageSize]="24"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateAgregarNota'">
    <span>
      <i title="Agregar Nota de Ajuste" class="fa fa-plus-square" (click)="AgregarNota(data.data.CostoId)"></i>
    </span>
  </div>
  <div *dxTemplate="let data of 'cellTemplateFechaOK'">
    {{us.ConvertJsonDateToString(data.data.ViajeFecha)}}
  </div>
</dx-data-grid>
<button *ngIf="mostrarAddCostosViaje" (click)="AddCostosViaje()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #b1f5ad">
  Agregar Costos Viaje
  <i class="fa fa-plus-circle"></i>
</button>
<button *ngIf="mostrarRemoverCostos" (click)="RemoverCostos()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #f18f8f">
  Remover Costos
  <i class="fa fa-trash"></i>
</button>
<button *ngIf="mostrarImpresion" (click)="Imprimir()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: lightblue">
  Imprimir
  <i class="fa fa-print"></i>
</button>
<button *ngIf="mostrarAnularLiq" (click)="AnularLiquidacion()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #fff298">
  Anular Liq
  <i class="fa fa-close"></i>
</button>
<button *ngIf="mostrarCerrarLiq" (click)="CerrarLiquidacion()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;float:right;margin-top:5px;font-size: .7rem;background-color: #78ddc4">
  Cerrar Liq
  <i class="fa fa-check"></i>
</button>

<dx-popup class="popup" [width]="widthPopup" [height]="500" [showTitle]="true" title="Agregar Costos" [dragEnabled]="true"
  [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <costos-proveedor-popup [provNombre]="provNombre" [provCod]="provCod" [liqNumero]="liqNumero"></costos-proveedor-popup>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="450" [height]="200" [showTitle]="true" title="Confirmación!" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleConfirm">
  <div *dxTemplate="let data of 'content'">
    <popup-accion-confirmacion #popConf (respuesta)="Respuesta($event)" [pregunta]="pregunta" [operacion]="operacion"></popup-accion-confirmacion>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="850" [height]="550" [showTitle]="true" title="Crear Nota Proveedor" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleNota">
  <div *dxTemplate="let data of 'content'">
    <crear-nota-prov-popup (notaCreada)="NotaCreada($event)" [info]="infoCrearNotaProv" [liqNum]="liqNumero"></crear-nota-prov-popup>
  </div>
</dx-popup>
