<button title="Filtros" class="btn btn-secondary mostrar-filtro-cli" (click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" style="font-size: smaller;" aria-hidden="true"></i>
</button>
<dx-data-grid #gridCli [width]="'100%'" [style.height.px]="heightTabla" id="gridContainer" 
    [hoverStateEnabled]="true" (onRowClick)="ObtenerModelosPorCliente()"
    [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" 
    [showBorders]="true" [rowAlternationEnabled]="true"
    [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="clientesLista" 
    [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="mostrarFiltro"></dxo-filter-row>
    <dxi-column dataField="ClienteCodigo" caption="Código"></dxi-column>
    <dxi-column dataField="ClienteNombre" caption="Nombre"></dxi-column>
    <dxi-column dataField="LineaNegocio" caption="Linea Negocio"></dxi-column>
    <dxi-column dataField="TipoOperacionRemesaDescripcion" caption="Operación remesa"></dxi-column>
    <dxi-column dataField="TipoOperacionGuiaDescripcion" caption="Operación Guía"></dxi-column>
    <dxi-column caption="Esquema" cellTemplate="cellTemplateEsquema" [calculateCellValue]="calculateCellValueEsquema"></dxi-column>
    <dxi-column dataField="FechaInicial" caption="Fecha Inicial"></dxi-column>
    <dxi-column dataField="FechaFinal" caption="Fecha Final"></dxi-column>
    <dxo-paging [pageSize]="8"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateEsquema'">
        <span id="{{data.data.ConfiguracionId}}" 
            (mouseenter)="toggleWithAnimation(data.data)" 
            (mouseleave)="toggleWithAnimation(data.data)">
                <i>{{data.data.EsquemaCodigo}}</i>
            </span>
    <dx-tooltip target="{{idOnMouseOver}}" position="top" [(visible)]="withAnimationVisible">
        <dxo-animation>
            <dxo-show type="slide" [from]="{ top: -100, opacity: 0 }" [to]="{ opacity: 1, top: 0 }"></dxo-show>
            <dxo-hide type="pop" [from]="{ scale: 1, opacity: 1 }" [to]="{ opacity: 0, scale: 0.1 }"></dxo-hide>
        </dxo-animation>
        <div *dxTemplate="let data of 'content'">
            {{esqDescripcion}}
        </div>
    </dx-tooltip>
    </div>
</dx-data-grid>