<!-- <span *ngIf="dataSource" class="badge badge-success" style="float:right;font-size: .7rem">
  Valor Total a Facturar: {{totalFacturar | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
</span> -->
<dx-data-grid #gridFacturasDet [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer"
  [hoverStateEnabled]="true" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
  [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="dataSource" 
  [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)"
  (onContentReady)="onContentReady()">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column dataField="Origen"></dxi-column>
  <dxi-column dataField="Referencia"></dxi-column>
  <dxi-column dataField="Articulo"></dxi-column>
  <dxi-column dataField="UnidadDeMedida" caption="Unidad De Medida"></dxi-column>
  <dxi-column dataField="Cantidad"></dxi-column>
  <dxi-column dataField="IngresoUnitario" caption="Ingreso Unitario" format="currency"></dxi-column>
  <dxi-column dataField="IngresoTotal" caption="Ingreso Total" format="currency"></dxi-column>
  <dxi-column dataField="ValorNotas" caption="Valor Notas" format="currency"></dxi-column>
  <dxi-column dataField="ValorNeto" caption="Valor Neto" format="currency"></dxi-column>
  <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
  <dxi-column dataField="FechaCreacion" caption="FechaCreacion" cellTemplate="cellTemplateFechaOK"></dxi-column>
  <dxo-summary>
    <dxi-total-item
        column="IngresoUnitario"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="IngresoTotal"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="ValorNotas"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
    <dxi-total-item
        column="ValorNeto"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
</dxo-summary>
  <dxo-paging [pageSize]="24"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateFechaOK'">
    {{us.ConvertJsonDateToString(data.data.FechaCreacion)}}
  </div>
  <div *dxTemplate="let data of 'cellTemplateAgregarNota'">
    <span>
      <i title="Agregar Nota de Ajuste" class="fa fa-plus-square" (click)="AgregarNota(data.data.CostoId)"></i>
    </span>
  </div>
</dx-data-grid>
<button *ngIf="mostrarAddGuia" (click)="MostrarAddGuias()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #b1f5ad">
  Agregar Guia
  <i class="fa fa-plus-circle"></i>
</button>
<button *ngIf="mostrarAddRemesa" (click)="MostrarAddRemesas()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #b1f5ad">
  Agregar Remesa
  <i class="fa fa-plus-square"></i>
</button>
<button *ngIf="mostrarRemoverGuia" (click)="RemoverGuias()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #f18f8f">
  Remover Guia
  <i class="fa fa-trash"></i>
</button>
<button *ngIf="mostrarRemoverRemesa" (click)="RemoverRemesas()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #f18f8f">
  Remover Remesa
  <i class="fa fa-trash"></i>
</button>
<button *ngIf="mostrarAddNota" (click)="AgregarNota()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: lightblue">
  Crear Nota
  <i class="fa fa-sticky-note-o"></i>
</button>
<button *ngIf="mostrarImpresion" (click)="Imprimir()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: lightblue">
  Imprimir
  <i class="fa fa-print"></i>
</button>
<button *ngIf="mostrarAnularFact" (click)="AnularFact()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;margin-top:5px;font-size: .7rem;background-color: #fff298">
  Anular
  <i class="fa fa-close"></i>
</button>
<button *ngIf="mostrarVolDef" (click)="VolverDefinitiva()" type="button" class="btn btn-outline-secondary btn-sm" style="color: #4e4e4e;float:right;margin-top:5px;font-size: .7rem;background-color: #78ddc4">
  Definitiva
  <i class="fa fa-check"></i>
</button>

<dx-popup class="popup" [width]="900" [height]="520" [showTitle]="true" title="Agregar Guias" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="popupVisibleGuias">
  <div *dxTemplate="let data of 'content'">
    <guias-cliente-popup [clienteNombre]="cliNombre" [clienteCod]="cliCod" [factNumero]="factNumero"></guias-cliente-popup>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="900" [height]="520" [showTitle]="true" title="Agregar Remesas" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="popupVisibleRemesas">
  <div *dxTemplate="let data of 'content'">
    <remesas-cliente-popup [clienteNombre]="cliNombre" [clienteCod]="cliCod" [factNumero]="factNumero"></remesas-cliente-popup>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="450" [height]="200" [showTitle]="true" title="Confirmación!" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleConfirm">
  <div *dxTemplate="let data of 'content'">
    <popup-accion-confirmacion #popConf (respuesta)="Respuesta($event)" [pregunta]="pregunta" [operacion]="operacion"></popup-accion-confirmacion>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="850" [height]="550" [showTitle]="true" title="Crear Nota Cliente" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleNota">
  <div *dxTemplate="let data of 'content'">
    <crear-nota-cli-popup (notaCreada)="NotaCreada($event)" [factNum]="factNumero" [info]="infoCrearNotaCli"></crear-nota-cli-popup>
  </div>
</dx-popup>