<div class="app-body">
  <main class="main">
    <div class="container-fluid">           
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
