<button title="Filtros" class="btn btn-secondary mostrar-filtro-cli" (click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" style="font-size: smaller;" aria-hidden="true"></i>
</button>
<dx-data-grid #gridPro [width]="'100%'" id="gridContainer" 
    [style.height.px]="heightTabla" 
    [hoverStateEnabled]="true" 
    (onRowClick)="ObtenerModelosPorProveedor()" 
    [columnAutoWidth]="true"
    [showColumnLines]="true" 
    [showRowLines]="true" 
    [showBorders]="true" 
    [rowAlternationEnabled]="true" 
    [allowColumnReordering]="true" [allowColumnResizing]="true"
    [dataSource]="proveedoresLista"     
    [selectedRowKeys]="[]" 
    (onCellPrepared)="onCellPrepared($event)"> 
    <dxo-sorting mode="multiple"></dxo-sorting>     
    <!-- <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-export [enabled]="true" fileName="Proveedores" [allowExportSelectedData]="true"></dxo-export> -->
    <dxo-selection mode="single"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="mostrarFiltro"></dxo-filter-row>
    <dxi-column dataField="ProveedorCodigo" caption="Código"></dxi-column>
    <dxi-column dataField="ProveedorNombre" caption="Nombre"></dxi-column>
    <dxi-column dataField="TipoOperacionViajeDescripcion" caption="Operación Viaje"></dxi-column>
    <dxi-column caption="Esquema" cellTemplate="cellTemplateEsquema" [calculateCellValue]="calculateCellValueEsquema"></dxi-column>
    <dxi-column dataField="FechaInicial" caption="Fecha Inicial"></dxi-column>
    <dxi-column dataField="FechaFinal" caption="Fecha Final"></dxi-column>
    <dxo-remote-operations [sorting]="true" [paging]="true"></dxo-remote-operations>
    <dxo-paging [pageSize]="8"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateEsquema'">
        <span id="{{data.data.ConfiguracionId}}" 
            (mouseenter)="toggleWithAnimation(data.data)" 
            (mouseleave)="toggleWithAnimation(data.data)">
                <i>{{data.data.EsquemaCodigo}}</i>
            </span>
    <dx-tooltip target="{{idOnMouseOver}}" position="top" [(visible)]="withAnimationVisible">
        <dxo-animation>
            <dxo-show type="slide" [from]="{ top: -100, opacity: 0 }" [to]="{ opacity: 1, top: 0 }"></dxo-show>
            <dxo-hide type="pop" [from]="{ scale: 1, opacity: 1 }" [to]="{ opacity: 0, scale: 0.1 }"></dxo-hide>
        </dxo-animation>
        <div *dxTemplate="let data of 'content'">
            {{esqDescripcion}}
        </div>
    </dx-tooltip>
    </div>
</dx-data-grid>