<div class="card" style="margin-top:5px;">
  <div class="card-block detalle-campos">
    <h6 style="font-size: 1.03rem" class="card-title" align="center">Factura</h6>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Numero:</b>
        </label>
        <p>{{factGeneral?.Numero}}</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Fecha:</b>
        </label>
        <p>{{us.ConvertJsonDateToString(factGeneral?.Fecha)}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label>
          <b>Sucursal:</b>
        </label>
        <p>{{factGeneral?.Sucursal}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Forma de Pago:</b>
        </label>
        <p>{{factGeneral?.FormaPago}}</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Fecha de pago:</b>
        </label>
        <p>{{us.ConvertJsonDateToString(factGeneral?.FechaPago)}}</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Creado Por:</b>
        </label>
        <p>{{factGeneral?.CreadoPor}}</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label>
          <b>Fecha de Creación:</b>
        </label>
        <p>{{us.ConvertJsonDateToString(factGeneral?.FechaDeCreacion)}}</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block detalle-campos">
    <h6 style="font-size: 1.03rem" class="card-title" align="center">Cliente</h6>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Identificación:</b>
        </label>
        <p>{{factGeneral?.ClienteCodigo}}</p>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <label>
          <b>Nombre:</b>
        </label>
        <p>{{factGeneral?.ClienteNombre}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Ciudad</b>
        </label>
        <p>{{factGeneral?.Ciudad}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Dirección:</b>
        </label>
        <p>{{factGeneral?.Direccion}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Telefono:</b>
        </label>
        <p>{{factGeneral?.Telefono}}</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block detalle-campos">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <label>
          <b>Observaciones:</b>
        </label><br>
        <p>{{factGeneral?.Observacion}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Estado:</b> {{factGeneral?.Estado}}
        </label>        
      </div>
    </div>    
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Valor Neto:</b> {{factGeneral?.Total | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
        </label>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Valor Notas:</b> {{factGeneral?.ValorNotas | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
        </label>        
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Valor A Cobrar:</b> {{factGeneral?.ValorACobrar | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
        </label>
      </div>
    </div>
  </div>
</div>
