<button title="Filtros manifiestos" type="button"
 class="btn btn-secondary filtros-liquidacion"
(click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
 aria-controls="collapseExampleManif">
<i class="fa fa-filter"></i>
</button>
<div *ngIf="!isCollapsed">
<div id="collapseExampleManif" [ngbCollapse]="isCollapsed" style="background-color: #e2e2e2 !important;padding-bottom: 0px;margin-top: 0px;">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Fecha Inicial (aaaa-mm-dd)">
          <i class="fa fa-chevron-left" style="font-size: smaller;"></i>
        </div>
        <input [(ngModel)]="filtroModel.FechaInicial" #fechaIni class="form-control lower" placeholder="fecha inicial" ngbDatepicker
          #dIni="ngbDatepicker" required>
        <button class="input-group-addon" style="width: 1rem" (click)="dIni.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Fecha Final (aaaa-mm-dd)">
          <i class="fa fa-chevron-right" style="font-size: smaller;"></i>
        </div>
        <input [(ngModel)]="filtroModel.FechaFinal" #fechaFin class="form-control lower" 
          placeholder="fecha final" ngbDatepicker #dFin="ngbDatepicker" required>
        <button class="input-group-addon" style="width: 1rem" (click)="dFin.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Codigo Proveedor">
          <i class="fa fa-user-circle" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.ProveedorCodigo" 
        class="form-control lower" placeholder="codigo del proveedor">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Nombre Proveedor">
          <i class="fa fa-user-circle-o" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.ProveedorNombre" 
        class="form-control lower" placeholder="nombre del proveedor">
      </div>
    </div>
  </div>   
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button [disabled]="fechaIni.value == '' || fechaFin.value == ''" 
      [style.cursor]="fechaIni.value == '' || fechaFin.value == '' ? 'not-allowed': 'pointer'"
      (click)="Buscar(filtroModel)" class="btn btn-primary" 
      style="font-size: .7rem;width: 95%;margin-left: 5px;">
        <i class="fa fa-search"></i> Buscar
      </button>
    </div>
  </div>    
</div>
</div>