.btn-group, .btn-group-vertical , .btn-group button {
    width: 100%;
    padding: 0 5px;
    height: 20px;
}

.desplegable {
    display: block;
    overflow-y: scroll;
    max-height: 200px;
    position: absolute;
    z-index: 10;
    background-color: #252525;
    margin-top: 20px;
    max-height: 200px;
    margin-left: -89%
}

.dropdown-item{
    color: whitesmoke !important;
}

.dx-texteditor {
    background: #fff;
    border: 1px solid #c2cfd6;
    font-size: smaller;
    height: 18px;
    width: 100%;
}

.dx-texteditor-input {
    padding: 4px 5px 4px;
    background: #fff;
    color: #676464;
    font-size: .7rem;
    margin-top: -4px !important;
}
.dx-popup-wrapper > .dx-overlay-content {
    min-width: 280px !important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: silver !important;
    color: black !important;
}
.dx-selection {
    background-color: #252525;
    color: whitesmoke;
}

#collapseExampleManif .row {
    margin: 0px 0 5px 0px !important;;
    margin: inherit;
}

#collapseExampleManif .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3{
        padding: inherit;
}

#collapseExampleManif {    
    border: solid .5px #dddddd;
    padding: 5px;
    background-color: #e2e2e2;
    position: absolute;
    z-index: 50;
    margin-top: 15px;
    width: 600px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.09375rem + 2px);
    max-height: 30px;
    font-size: inherit;
    align-items: flex-end;
    padding: 0 5px;
    height: 20px;
}

.lower{
    font-size: inherit;
}

.limpiar{
    position: absolute;
    margin: -4px 0 0 130.5px;
    font-size: .7rem;
    cursor: pointer;
}