.input-group {
    padding-bottom: 5px;
}
h6{
    font-size: .7rem;
}

.toggle-panel-off{  
    opacity: 0;
    position: absolute;
    visibility: hidden;
    -webkit-transition: opacity 1000ms, visibility 1000ms;
    transition: opacity 1000ms, visibility 1000ms;
}

.toggle-panel-on{
    visibility: visible;
    opacity: 1;
}
