<header-principal [tituloPagina]="'Panel de Tarifas'"></header-principal>
<dx-form>
  <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
    <dxi-tab title="Clientes">
      <dxi-item>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <filtro-clientes-proveedores [tipoBusqueda]="tipoBusquedaCliente"></filtro-clientes-proveedores>
          </div>
        </div>
        <div class="row" [ngClass]="{'toggle-panel-off' : ocultarTblCli}" [ngClass]="{'toggle-panel-on' : !ocultarTblCli}">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <tabla-clientes #tablaCli></tabla-clientes>
          </div>
          <div style="max-height: 200px !important;padding: 0;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <tabla-modelos-cli [modelosLista]="modelosCliLista"></tabla-modelos-cli>
          </div>
          <div style="max-height: 100px !important;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <tabla-articulos-cli [articulosLista]="articulosCliLista"></tabla-articulos-cli>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <tarifas-filtro-cli (ocultarTbl)="OcultarTblCli($event)"></tarifas-filtro-cli>
            <acciones-tarifas-cli></acciones-tarifas-cli>
            <tabla-tarifas-cli [filasNumero]="filasNumeroCli" [heightTabla]="heightTablaCli" 
              [tarifasLista]="tarifasCliLista" [tarifasCant]="tarifasCliCant"></tabla-tarifas-cli>
          </div>
        </div>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Proveedores">
      <dxi-item>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <filtro-clientes-proveedores [tipoBusqueda]="tipoBusquedaProveedor"></filtro-clientes-proveedores>
          </div>
        </div>
        <div class="row" [ngClass]="{'toggle-panel-off' : ocultarTblProv}" [ngClass]="{'toggle-panel-on' : !ocultarTblProv}">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <tabla-proveedores [proveedoresLista]="proveedoresLista"></tabla-proveedores>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding: 0;">
            <tabla-modelos-prov [modelosLista]="modelosProvLista"></tabla-modelos-prov>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <tabla-articulos-prov [articulosLista]="articulosProvLista"></tabla-articulos-prov>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <tarifas-filtro-prov (ocultarTbl)="OcultarTblProv($event)"></tarifas-filtro-prov>
            <acciones-tarifas-prov></acciones-tarifas-prov>
            <tabla-tarifas-prov [filasNumero]="filasNumeroProv" [heightTabla]="heightTablaProv"  [tarifasLista]="tarifasProvLista" [tarifasCant]="tarifasProvCant"></tabla-tarifas-prov>
          </div>
        </div>
      </dxi-item>
    </dxi-tab>
  </dxi-item>
</dx-form>