<dx-data-grid #gridDistIngresosCli [width]="widthTabla" [style.height.px]="heightTabla" [hoverStateEnabled]="true" [columnAutoWidth]="true"
  [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
  [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)" (onRowUpdated)="onRowUpdated($event)"
  (onEditingStart)="BeginEditDeleteZeroFromCell($event)">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
  <dxi-column dataField="Origen" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="Referencia" caption="Numero" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="Articulo" caption="Articulo" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="IngresoTotal" caption="Ingreso Referencia" [allowEditing]="false" cellTemplate="cellTemplateValorReferencia"></dxi-column>
  <dxi-column dataField="Valor" caption="Ingreso" cellTemplate="cellTemplateValores"></dxi-column>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateValorReferencia'" style="text-align: right">
    {{data.data.IngresoTotal | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
  </div>
  <div *dxTemplate="let data of 'cellTemplateValores'" style="text-align: right">
    {{data.data.Valor | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
  </div>
</dx-data-grid>
<br>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label>Observación:</label>
    <br>
    <textarea [(ngModel)]="observacion" cols="80" rows="3"></textarea>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: right">
    <label>Total 
      <b>{{totalAModificar | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}</b>
    </label>
  </div>
</div>
<button (click)="CrearNota()" type="button" class="btn btn-outline-success btn-sm" style="float:right;margin-top:5px;font-size: .7rem">
  Crear Nota Cliente
  <i class="fa fa-plus"></i>
</button>

<dx-popup class="popup" [width]="450" [height]="200" [showTitle]="true" title="Confirmación!" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleConfirm">
  <div *dxTemplate="let data of 'content'">
    <popup-accion-confirmacion #popConf (respuesta)="Respuesta($event)" [pregunta]="pregunta" [operacion]="operacion"></popup-accion-confirmacion>
  </div>
</dx-popup>
