<dx-data-grid #gridLiquidacionesDetNotas [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer"
  [hoverStateEnabled]="true" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
  [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column [width]="23" cellTemplate="cellTemplateEliminarNota"></dxi-column>
  <dxi-column dataField="NotaProveedorNumero" caption="Numero"></dxi-column>
  <dxi-column dataField="Origen" caption="Origen"></dxi-column>
  <dxi-column dataField="OrigenNumero"  caption="Origen Numero"></dxi-column>
  <dxi-column dataField="Articulo"></dxi-column>
  <dxi-column dataField="Valor" caption="Valor" format="currency"></dxi-column>
  <dxi-column dataField="UsuarioCreacion" caption="Creado Por"></dxi-column>
  <dxi-column dataField="FechaCreacion" caption="Fecha Creacion" cellTemplate="cellTemplateFechaOK"></dxi-column>
  <dxi-column dataField="Observacion"></dxi-column>
  <dxo-summary>
    <dxi-total-item
        column="Valor"
        summaryType="sum"
        valueFormat="currency"
        displayFormat="{0}">
    </dxi-total-item>
</dxo-summary>
  <dxo-paging [pageSize]="24"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateEliminarNota'">
    <span>
      <i title="Eliminar Nota de Ajuste" class="fa fa-trash" (click)="EliminarNota(data.data.NotaProveedorNumero)"></i>
    </span>
  </div>
  <div *dxTemplate="let data of 'cellTemplateFechaOK'" style="text-align: right">
    {{us.ConvertJsonDateToString(data.data.FechaCreacion)}}
  </div>
</dx-data-grid>

<dx-popup class="popup" [width]="450" [height]="200" [showTitle]="true" title="Confirmación!" [dragEnabled]="true" [closeOnOutsideClick]="false"
  [(visible)]="popupVisibleConfirm">
  <div *dxTemplate="let data of 'content'">
    <popup-accion-confirmacion #popConf (respuesta)="Respuesta($event)" [pregunta]="pregunta" [operacion]="operacion"></popup-accion-confirmacion>
  </div>
</dx-popup>