<button title="Filtros por columna" class="btn btn-secondary mostrar-filtro" 
(click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" style="font-size: smaller" aria-hidden="true"></i>
</button>
<span style="font-size: .7rem;float: right;margin-top: -20px;">Total Registros encontrados:
    <b>{{tarifasCant || 0}}</b>
</span>
<dx-data-grid #gridTar [width]="'100%'" [style.height.px]="heightTabla"
    [hoverStateEnabled]="true" (selectedRowKeysChange)="OnSelected($event)"
     [columnAutoWidth]="true" 
    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
    [rowAlternationEnabled]="true" [allowColumnReordering]="true" 
    [allowColumnResizing]="true" [dataSource]="tarifasLista"
    (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-export [enabled]="false" fileName="Tarifas">
</dxo-export>
    <!-- <dxo-group-panel [visible]="true"></dxo-group-panel>
<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
<dxo-column-fixing [enabled]="true"></dxo-column-fixing> -->
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="mostrarFiltro"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxi-column dataField="BatchNumero" caption="Batch"></dxi-column>
    <dxi-column dataField="CiudadOrigenNombre" caption="Origen"></dxi-column>
    <dxi-column dataField="CiudadDestinoNombre" caption="Destino"></dxi-column>
    <dxi-column dataField="TipoVehiculoDescripcion" caption="Vehículo"></dxi-column>
    <dxi-column dataField="TipoRutaDescripcion" caption="Tipo Ruta"></dxi-column>
    <dxi-column dataField="EmpaqueOficialDescripcion" caption="Empaque"></dxi-column>
    <dxi-column dataField="RangoMinimo" caption="Rango Min"></dxi-column>
    <dxi-column dataField="RangoMaximo" caption="Rango Max"></dxi-column>
    <dxi-column dataField="Valor" caption="Valor" cellTemplate="cellTemplateValores"></dxi-column>
    <dxi-column dataField="FechaInicial" caption="Fecha Inicial"></dxi-column>
    <dxi-column dataField="FechaFinal" caption="Fecha Final"></dxi-column>
    <dxi-column dataField="Estado" caption="Estado"></dxi-column>
    <dxo-paging [pageSize]="filasNumero"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateValores'">
        {{data.data.Valor | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
</dx-data-grid>