<header-principal [tituloPagina]="'Panel de Facturación'"></header-principal>
<dx-form>
  <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
    <dxi-tab title="Guias">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoGuias($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Guias Disponibles</h6>
              <filtro-guias #filtroGuias></filtro-guias>
              <tabla-guias (refreshData)="RefreshDataGuias($event)" [widthTabla]="widthTablaGuias" [dataSource]="guiasPorFacturar"></tabla-guias>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <h6>Guias Seleccionadas para Facturar</h6>
              <tabla-guias-selec (refreshData)="RefreshDataGuias($event)" [widthTabla]="widthTablaGuiasSel" [dataSource]="guiasSeleccionadas"></tabla-guias-selec>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Remesas">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoRemesas($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Remesas Disponibles</h6>
              <filtro-remesas #filtroRemesas></filtro-remesas>
              <tabla-remesas (refreshData)="RefreshDataRemesas($event)" [widthTabla]="widthTablaRemesas" [dataSource]="remesasPorFacturar"></tabla-remesas>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <h6>Remesas Seleccionadas para Facturar</h6>
              <tabla-remesas-selec (refreshData)="RefreshDataRemesas($event)" [widthTabla]="widthTablaRemesasSel" [dataSource]="remesasSeleccionadas"></tabla-remesas-selec>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Facturas">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoFacturas($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Facturas Disponibles</h6>
              <filtro-facturas></filtro-facturas>
              <tabla-facturas [widthTabla]="widthTablaFacturas" [dataSource]="facturasPorFacturar"></tabla-facturas>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <dx-form>
                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: true, onInitialized: onInitializedtabDetalle }">
                  <dxi-tab title="General">
                    <dxi-item>
                      <tabla-fact-gral-cli [factGeneral]="factGeneral"></tabla-fact-gral-cli>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Detalle">
                    <dxi-item>
                      <tabla-detalle-facturas [widthTabla]="widthTablaFacturasSel" [dataSource]="detalleFacturas"></tabla-detalle-facturas>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Notas">
                    <dxi-item>
                      <tabla-detalle-factura-notas [widthTabla]="widthTablaFacturasNotas" [dataSource]="factGeneral?.Notas"></tabla-detalle-factura-notas>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Doc. Cobro">
                    <dxi-item>
                      <tabla-detalle-factura-doc-cobro [widthTabla]="widthTablaFacturasDocs" [dataSource]="factGeneral?.DocumentoDeCobro"></tabla-detalle-factura-doc-cobro>
                    </dxi-item>
                  </dxi-tab>
                </dxi-item>
              </dx-form>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
  </dxi-item>
</dx-form>
