<button title="Filtros remesas" type="button" class="btn btn-secondary filtros-liquidacion" (click)="isCollapsed = !isCollapsed"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExampleManif">
<i class="fa fa-filter"></i>
</button>
<div *ngIf="!isCollapsed">
<div id="collapseExampleManif" [ngbCollapse]="isCollapsed" style="background-color: #e2e2e2 !important;padding-bottom: 0px;margin-top: 0px;">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Fecha Inicial (aaaa-mm-dd)">
          <i class="fa fa-chevron-left" style="font-size: smaller;"></i>
        </div>
        <input [(ngModel)]="filtroModel.FechaInicial" #fechaIni class="form-control lower" placeholder="fecha inicial*" ngbDatepicker
          #dIni="ngbDatepicker" required>
        <button class="input-group-addon" style="width: 1rem" (click)="dIni.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Fecha Final (aaaa-mm-dd)">
          <i class="fa fa-chevron-right" style="font-size: smaller;"></i>
        </div>
        <input [(ngModel)]="filtroModel.FechaFinal" #fechaFin class="form-control lower" placeholder="fecha final*" ngbDatepicker
          #dFin="ngbDatepicker" required>
        <button class="input-group-addon" style="width: 1rem" (click)="dFin.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Codigo Cliente">
          <i class="fa fa-user-circle" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.ClienteCodigo" class="form-control lower" placeholder="codigo del cliente">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Nombre Cliente">
          <i class="fa fa-user-circle-o" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.ClienteNombre" class="form-control lower" placeholder="nombre del cliente">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Codigo Linea Negocio">
          <i class="fa fa-square" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.LineaNegocioCodigo" class="form-control lower" placeholder="codigo linea negocio">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Descripción Linea Negocio">
          <i class="fa fa-square-o" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.LineaNegocioDescripcion" class="form-control lower" placeholder="descripción linea negocio">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div title="Ciudad de Origen" title="Ciudad Origen" class="input-group-addon">
          <i class="fa fa-map-marker" style="font-size: smaller;"></i>
        </div>
        <dx-autocomplete #ciuOrigen [width]="'300px'" placeholder="ciudad origen" 
        valueExpr="CiudadDepartamentoDescripcion" [dataSource]="ciudades"
          (onItemClick)="CiudadSelectedOri($event)">
          <div *dxTemplate="let item of 'item'">
            <span>{{item.CiudadDepartamentoDescripcion}}</span>
          </div>
        </dx-autocomplete>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div title="Ciudad de Destino" title="Ciudad Destino" class="input-group-addon">
          <i class="fa fa-map-marker" style="font-size: smaller;"></i>
        </div>
        <dx-autocomplete #ciuDestino placeholder="ciudad destino" 
        valueExpr="CiudadDepartamentoDescripcion" [dataSource]="ciudades"
          (onItemClick)="CiudadSelectedDes($event)">
          <div *dxTemplate="let item of 'item'">
            <span>
              {{item.CiudadDepartamentoDescripcion}}
            </span>
          </div>
        </dx-autocomplete>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <div class="input-group-addon" title="Referencia Adicional">
          <i class="fa fa-circle-o" style="font-size: smaller;"></i>
        </div>
        <input type="text" [(ngModel)]="filtroModel.ReferenciaAdicional" class="form-control lower" 
        placeholder="referencia adicional">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button [disabled]="fechaIni.value == '' || fechaFin.value == ''" [style.cursor]="fechaIni.value == '' || fechaFin.value == '' ? 'not-allowed': 'pointer'"
      class="btn btn-primary" style="font-size: .7rem;width: 95%;margin-left: 5px;"
      (click)="Buscar(filtroModel)">
        <i class="fa fa-search"></i> Buscar
      </button>
    </div>
  </div>
</div>
</div>