<!-- <button title="Filtros" class="btn btn-outline-primary mostrar-filtro-manif" (click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" aria-hidden="true"></i>
</button> -->
<span *ngIf="dataSource" class="badge badge-success" style="float:right;font-size: .7rem">Valor Total a Liquidar: {{costosValorTotal | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}</span>
<span *ngIf="dataSource" class="badge badge-primary" style="float:left;font-size: .7rem">Costos a liquidar: {{dataSource?.length}}</span>
<dx-data-grid class="tabla-seleccionados" #gridCostos [width]="widthTabla" 
[style.height.px]="heightTabla" id="gridContainer" 
[hoverStateEnabled]="true" [columnAutoWidth]="true"
    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" 
    [allowColumnReordering]="true" [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"   
    [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column [width]="23" cellTemplate="cellTemplateDetalle" [calculateCellValue]="calculateCellValueDetalle"></dxi-column>
    <dxi-column dataField="Viaje" caption="Viaje"></dxi-column>
    <dxi-column dataField="FechaDeCreacion" caption="Fecha Creación"></dxi-column>
    <dxi-column dataField="Vehiculo" caption="Vehículo"></dxi-column>
    <dxi-column dataField="ProveedorId" caption="Proveedor Id"></dxi-column>
    <dxi-column dataField="Proveedor" caption="Proveedor"></dxi-column>
    <dxi-column dataField="ArticuloDeTarifa" caption="Articulo De Tarifa"></dxi-column>
    <dxi-column dataField="Costo" caption="Costo" cellTemplate="cellTemplateValoresCosto"></dxi-column>
    <dxi-column dataField="CiudadOrigen" caption="Ciudad Origen"></dxi-column>
    <dxi-column dataField="CiudadDestino" caption="Ciudad Destino"></dxi-column>
    <dxi-column dataField="Sucursal" caption="Sucursal"></dxi-column>
    <dxi-column dataField="TipoDeOperacion" caption="TipoDeOperacion"></dxi-column>
    <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
    <dxi-column dataField="Manifiesto" caption="Manifiesto"></dxi-column>
    <dxi-column dataField="Remolque" caption="Remolque"></dxi-column>
    <dxi-column dataField="Conductor" caption="Conductor"></dxi-column>
    <dxi-column dataField="Propietario" caption="Propietario"></dxi-column>
    <dxo-paging [pageSize]="24"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager> 
    <div *dxTemplate="let data of 'cellTemplateDetalle'">
        <span>
            <i title="ver detalle" class="fa fa-search-plus" (click)="Detalle(data)"></i>
        </span>
    </div> 
    <div *dxTemplate="let data of 'cellTemplateValoresCosto'" style="text-align: right">
        {{data.data.Costo | currency:'COP':'symbol':'.2-2' | valNegNoParentesis }}
    </div>  
</dx-data-grid>
<button (click)="RemoverSelec()" type="button" class="btn btn-outline-danger btn-sm" style="margin-top:5px;font-size: .7rem">
     <i class="fa fa-backward"></i>
     Remover Seleccionados   
</button>
<button (click)="LiquidarCostos()" type="button" class="btn btn-outline-info btn-sm" style="float:right;margin-top:5px;font-size: .7rem">
     Liquidar Costos <i class="fa fa-mail-forward"></i>        
</button>
<dx-popup
class="popup"
[width]="900"
[height]="580"
[showTitle]="true"
title="Detalle Viaje"
[dragEnabled]="true"
[closeOnOutsideClick]="true"
[(visible)]="popupVisible">
<div *dxTemplate="let data of 'content'">
    <detalle-viaje-popup></detalle-viaje-popup>
</div>
</dx-popup>
