<dx-data-grid #gridLiquidacionesDetDistriCostos [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer" [hoverStateEnabled]="true"
  [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
  [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column dataField="Origen"></dxi-column>
  <dxi-column dataField="OrigenNumero" caption="Numero"></dxi-column>
  <dxi-column dataField="UnidadDeMedida" caption="UnidadDeMedida"></dxi-column>
  <dxi-column dataField="Articulo" caption="Articulo"></dxi-column>
  <dxi-column dataField="Valor" caption="Costo" format="currency"></dxi-column>
  <dxi-column dataField="FechaCreacion" caption="Fecha Creacion" cellTemplate="cellTemplateFechaOK"></dxi-column>
  <dxi-column dataField="UsuarioCreacion" caption="UsuarioCreacion"></dxi-column>
  <dxo-summary>
    <dxi-total-item column="Valor" summaryType="sum" valueFormat="currency" displayFormat="{0}">
    </dxi-total-item>
  </dxo-summary>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateFechaOK'">
    {{us.ConvertJsonDateToString(data.data.FechaCreacion)}}
  </div>
</dx-data-grid>
