<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <filtro-remesas-cliente [clienteCod]="clienteCod"></filtro-remesas-cliente>
            </div>
            <div class="card-block detalle-campos">
                <label>Remesas del Cliente: "{{clienteNombre}}" para agregar a la Factura # {{factNumero}}</label>
                <tabla-remesas-cliente 
                    (remesasCliSelec)="GetRemesasSelec($event)" 
                    [dataSource]="remesasLista" 
                    [factNumero]="factNumero"
                    [widthTabla]="835">
                </tabla-remesas-cliente>
            </div>
        </div>
    </div>
</div>