<header-principal [tituloPagina]="'Acceso Denegado'"></header-principal>
<div class="card" style="font-size: .7rem;border-bottom: none">
  <div class="card-block no-access">
    <h2><b>ACCESO NO AUTORIZADO! </b> <hr><br><br><img src="assets/img/empresa-logo.png"></h2>    
    
  </div>
</div>
