<!-- <button title="Filtros" class="btn btn-outline-primary mostrar-filtro-manif" (click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" aria-hidden="true"></i>
</button> -->
<dx-data-grid #gridLiquidaciones [width]="widthTabla" [style.height.px]="heightTabla" [hoverStateEnabled]="true" [columnAutoWidth]="true"
    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onRowClick)="Detalle(gridLiquidaciones.selectedRowKeys)"
    (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="TipoLiquidacion" caption="Tipo Liquidacion"></dxi-column>
    <dxi-column dataField="Numero"></dxi-column>
    <dxi-column dataField="ProveedorCodigo" caption="Proveedor Codigo"></dxi-column>
    <dxi-column dataField="ProveedorNombre" caption="Proveedor Nombre"></dxi-column>
    <dxi-column dataField="Estado"></dxi-column>
    <dxi-column dataField="NetoAPagar" caption="Neto a Pagar" format="currency"></dxi-column>
    <dxi-column dataField="FechaDeCreacion" caption="Fecha Creación" cellTemplate="cellTemplateFechaOK"></dxi-column>
    <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
    <dxi-column dataField="Sucursal"></dxi-column>
    <dxi-column dataField="ValorBruto" caption="Valor Bruto" format="currency"></dxi-column>
    <dxi-column dataField="Descuentos" caption="Descuentos" format="currency"></dxi-column>
    <dxi-column dataField="ReferenciaScav" caption="Referencia scav" cellTemplate="cellTemplateDoc"></dxi-column>
    <dxi-column dataField="ReferenciaExterna" caption="Factura proveedor"></dxi-column>
    <dxo-paging [pageSize]="24"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateDoc'">
        <span title="ver documento" *ngIf="data.data.ReferenciaScav">
            <a href="{{tcUrl+data.data.ReferenciaLink}}" target="_blank">{{data.data.ReferenciaScav}}
                <i title="ver documento" class="fa fa-search-plus"></i>
            </a>
        </span>
    </div> 
    <div *dxTemplate="let data of 'cellTemplateFechaOK'">
      {{us.ConvertJsonDateToString(data?.data?.FechaDeCreacion)}}
    </div>
</dx-data-grid>