<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <filtro-costos-proveedor [proveedorCodigo]="provCod"></filtro-costos-proveedor>
            </div>
            <div class="card-block detalle-campos">
                <label>Costos del proveedor: "{{provNombre}}" para agregar a la Liquidación # {{liqNumero}}</label>
                <tabla-costos-proveedor (costosProvSelec)="GetCostosSelec($event)" [dataSource]="costosLista" [liqNumero]="liqNumero">
                </tabla-costos-proveedor>
            </div>
        </div>
    </div>
</div>