<header-principal [tituloPagina]="'Panel de Liquidación'"></header-principal>
<dx-form>
  <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
    <dxi-tab title="Manifiestos">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoManif($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Manifiestos Disponibles</h6>
              <filtro-manifiestos></filtro-manifiestos>
              <tabla-manifiestos [widthTabla]="widthTablaManifiestos" [dataSource]="manifPorLiquidar"></tabla-manifiestos>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <h6>Manifiestos Seleccionados para Liquidar</h6>
              <tabla-manifiestos-selec [widthTabla]="widthTablaManifiestosSel" [dataSource]="manifSeleccionados"></tabla-manifiestos-selec>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Costos">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoCos($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Costos Disponibles</h6>
              <filtro-costos></filtro-costos>
              <tabla-costos [widthTabla]="widthTablaCostos" [dataSource]="costosPorLiquidar"></tabla-costos>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <h6>Costos Seleccionados para Liquidar</h6>
              <tabla-costos-selec [widthTabla]="widthTablaCostosSel" [dataSource]="costosSeleccionados"></tabla-costos-selec>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Liquidaciones">
      <dxi-item>
        <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" separator-thickness="5" primary-component-initialratio="0.8"
          (on-change)="CalcularTamanoLiq($event)">
          <div class="split-pane-content-primary">
            <div class="left">
              <h6>Liquidaciones Disponibles</h6>
              <filtro-liquidaciones></filtro-liquidaciones>
              <tabla-liquidaciones [widthTabla]="widthTablaLiq" [dataSource]="liqPorLiquidar"></tabla-liquidaciones>
            </div>
          </div>
          <div class="split-pane-content-secondary" style="padding-left: 10px;">
            <div class="right">
              <dx-form>
                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: true, onInitialized: onInitializedtabDetalle }">
                  <dxi-tab title="General">
                    <dxi-item>
                      <tabla-liq-gral-prov [liqGeneral]="liqGeneral"></tabla-liq-gral-prov>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Detalle">
                    <dxi-item>
                      <tabla-detalle-liquidaciones [widthTabla]="widthTablaLiqDet" [dataSource]="liqDetalle"></tabla-detalle-liquidaciones>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Notas">
                    <dxi-item>
                      <tabla-detalle-liquidaciones-notas [widthTabla]="widthTablaNotas" [dataSource]="liqGeneral?.LiquidacionNotasDto"></tabla-detalle-liquidaciones-notas>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Distribución Costos">
                    <dxi-item>
                      <tabla-detalle-liquidaciones-distri-costos [widthTabla]="widthTablaDist" [dataSource]="liqGeneral?.DistribucionCostosLiquidacionDto"></tabla-detalle-liquidaciones-distri-costos>
                    </dxi-item>
                  </dxi-tab>
                  <dxi-tab title="Documento de Pago">
                    <dxi-item>
                      <tabla-detalle-liquidaciones-doc-pago [widthTabla]="widthTablaDocs" [dataSource]="liqGeneral?.DocumentosDePagoDto"></tabla-detalle-liquidaciones-doc-pago>
                    </dxi-item>
                  </dxi-tab>
                </dxi-item>
              </dx-form>
            </div>
          </div>
        </vertical-split-pane>
      </dxi-item>
    </dxi-tab>
  </dxi-item>
</dx-form>
