<dx-data-grid #gridRemesasCli [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer" [hoverStateEnabled]="true"
  [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
  [allowColumnReordering]="true" [allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
  <dxo-sorting mode="single"></dxo-sorting>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column [width]="23" cellTemplate="cellTemplateDetalle" [calculateCellValue]="calculateCellValueDetalle"></dxi-column>
  <dxi-column dataField="Numero" caption="Numero"></dxi-column>
  <dxi-column dataField="FechaCreacion" caption="Fecha Creacion"></dxi-column>
  <dxi-column dataField="DiasSinFacturar" caption="Dias Sin Facturar"></dxi-column>
  <dxi-column dataField="ReferenciaCliente"></dxi-column>
  <dxi-column dataField="EstadoOperacion" caption="Estado Operativo"></dxi-column>
  <dxi-column dataField="EstadoDeFacturacion" caption="Estado De Facturacion"></dxi-column>
  <dxi-column dataField="LineaNegocioCodigo" caption="Linea Negocio Codigo"></dxi-column>
  <dxi-column dataField="LineaNegocioDescripcion" caption="Linea Negocio Descripcion"></dxi-column>
  <dxi-column dataField="CiudadOrigen" caption="Ciudad Origen"></dxi-column>
  <dxi-column dataField="CiudadDestino" caption="Ciudad Destino"></dxi-column>
  <dxi-column dataField="Vehiculo" caption="Vehiculo"></dxi-column>
  <dxi-column dataField="Sucursal" caption="Sucursal"></dxi-column>
  <dxi-column dataField="PesoEnKilogramos" caption="Peso En Kgs"></dxi-column>
  <dxi-column dataField="Cantidad" caption="Cantidad"></dxi-column>
  <dxi-column dataField="UnidadDeMedida" caption="Unidad De Medida"></dxi-column>
  <dxi-column dataField="Total" caption="Total" cellTemplate="cellTemplateValores"></dxi-column>
  <dxi-column dataField="ReferenciaScav" caption="Referencia Scav" cellTemplate="cellTemplateDoc"></dxi-column>
  <dxi-column dataField="DimensionVendedor" caption="Dimension Vendedor"></dxi-column>
  <dxi-column dataField="DimensionAlmacen" caption="Dimension Almacen"></dxi-column>
  <dxi-column dataField="DimensionRamo" caption="Dimension Ramo"></dxi-column>
  <dxi-column dataField="DimensionCentroDeDistribucion" caption="Dimension Centro De Distribucion"></dxi-column>
  <dxi-column dataField="DimensionCentroDeBeneficio" caption="Dimension Centro De Beneficio"></dxi-column>
  <dxi-column dataField="DimensionCentro" caption="Dimension Centro"></dxi-column>
  <dxi-column dataField="DimensionGrupoArticulo" caption="Dimension Grupo Articulo"></dxi-column>
  <dxi-column dataField="DimensionSucursal" caption="Dimension Sucursal"></dxi-column>
  <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
  <dxi-column dataField="Observaciones" caption="Observaciones"></dxi-column>
  <dxi-column dataField="ReferenciaAdicional" caption="Referencia Adicional"></dxi-column>
  <dxo-paging [pageSize]="24"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
  <div *dxTemplate="let data of 'cellTemplateDetalle'">
    <span>
      <i title="ver ingresos" class="fa fa-search-plus" (click)="Detalle(data.data)"></i>
    </span>
  </div>
  <div *dxTemplate="let data of 'cellTemplateDoc'">
    <span title="ver documento" *ngIf="data.data.ReferenciaScav">
      <a href="{{tcUrl+data.data.Documento}}" target="_blank">{{data.data.ReferenciaScav}}
        <i title="ver documento" class="fa fa-search-plus"></i>
      </a>
    </span>
  </div>
  <div *dxTemplate="let data of 'cellTemplateValores'">
    {{data.data.Total | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
  </div>
</dx-data-grid>
<button (click)="AdicionarRemesas()" type="button" class="btn btn-outline-success btn-sm" style="float:right;margin-top:5px;font-size: .7rem">
    Agregar Remesas <i class="fa fa-plus"></i>
</button>

<dx-popup class="popup" [width]="900" [height]="250" [showTitle]="true" title="Ingresos Remesas" [dragEnabled]="true" [closeOnOutsideClick]="true"
  [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <tabla-detalle-remesas-ingresos [ingresosLista]="ingresosLista"></tabla-detalle-remesas-ingresos>
  </div>
</dx-popup>

<dx-popup
class="popup"
[width]="450"
[height]="200"
[showTitle]="true"
title="Confirmación!"
[dragEnabled]="true"
[closeOnOutsideClick]="false"
[(visible)]="popupVisibleConfirm">
<div *dxTemplate="let data of 'content'">
    <popup-accion-confirmacion #popConf (respuesta)="Respuesta($event)" [pregunta]="pregunta" [operacion]="operacion"></popup-accion-confirmacion>
</div>
</dx-popup>