<!-- <button title="Filtros" class="btn btn-outline-primary mostrar-filtro-manif" (click)="mostrarFiltro = !mostrarFiltro">
    <i class="fa fa-binoculars" aria-hidden="true"></i>
</button> -->
<!-- <div><span class="badge badge-default" >Manifiestos a liquidar: {{totalManifiestos}}</span></div> -->
<span *ngIf="dataSource" class="badge badge-primary" style="float:right;font-size: .7rem">Manifiestos a liquidar: {{dataSource?.length}}</span>
<dx-data-grid class="tabla-seleccionados" #gridManifSel [width]="widthTabla" [style.height.px]="heightTabla" id="gridContainer" 
[hoverStateEnabled]="true" [columnAutoWidth]="true"
    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" 
    [rowAlternationEnabled]="true" 
    [allowColumnReordering]="true" [allowColumnResizing]="true"
    [dataSource]="dataSource" [selectedRowKeys]="[]" (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column [width]="23" cellTemplate="cellTemplateDetalle" [calculateCellValue]="calculateCellValueDetalle"></dxi-column>
    <dxi-column dataField="Viaje" caption="Viaje"></dxi-column>
    <dxi-column dataField="FechaDeCreacion" caption="Fecha Creación"></dxi-column>
    <dxi-column dataField="Manifiesto" caption="Manifiesto"></dxi-column>
    <dxi-column dataField="Vehiculo" caption="Vehículo"></dxi-column>
    <dxi-column dataField="Flete" caption="Flete" cellTemplate="cellTemplateValoresFlete"></dxi-column>
    <dxi-column dataField="PropietarioIdentificacion" caption="Indentificación"></dxi-column>
    <dxi-column dataField="PropietarioNombre" caption="Propietario"></dxi-column>
    <dxi-column dataField="CiudadOrigen" caption="Ciudad Origen"></dxi-column>
    <dxi-column dataField="CiudadDestino" caption="Ciudad Destino"></dxi-column>
    <dxi-column dataField="Conductor" caption="Conductor"></dxi-column>
    <dxi-column dataField="Remolque" caption="Remolque"></dxi-column>
    <dxi-column dataField="ReteFuente" caption="Retefuente" cellTemplate="cellTemplateValoresReteFuente"></dxi-column>
    <dxi-column dataField="ReteIca" caption="ReteIca" cellTemplate="cellTemplateValoresReteIca"></dxi-column>
    <dxi-column dataField="Total" caption="Total" cellTemplate="cellTemplateValoresTotal"></dxi-column>
    <dxi-column dataField="Sucursal" caption="Sucursal"></dxi-column>
    <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
    <dxi-column dataField="DiasSinLiquidar" caption="Dias sin Liquidar"></dxi-column>
    <dxi-column dataField="ReferenciaScav" caption="Referencia scav" cellTemplate="cellTemplateDoc"></dxi-column>
    <dxo-paging [pageSize]="24"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateDetalle'">
        <span>
            <i title="ver detalle" class="fa fa-search-plus" (click)="Detalle(data)"></i>
        </span>
    </div>
    <div *dxTemplate="let data of 'cellTemplateDoc'">
        <span title="ver documento" *ngIf="data.data.ReferenciaScav">
            <a href="{{tcUrl+data.data.Documento}}" target="_blank">{{data.data.ReferenciaScav}} <i title="ver documento" class="fa fa-search-plus"></i></a>
        </span>
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresFlete'">
        {{data.data.Flete | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresReteFuente'">
        {{data.data.ReteFuente | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresReteIca'">
        {{data.data.ReteIca | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresTotal'">
        {{data.data.Total | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
</dx-data-grid>
<button (click)="RemoverSelec()" type="button" class="btn btn-outline-danger btn-sm" style="margin-top:5px;font-size: .7rem">
     <i class="fa fa-backward"></i>
     Remover Seleccionados   
</button>
<button (click)="LiquidarManifiestos()" type="button" class="btn btn-outline-info btn-sm" style="float:right;margin-top:5px;font-size: .7rem">
     Liquidar Manifiestos <i class="fa fa-mail-forward"></i>        
</button>
<dx-popup
class="popup"
[width]="900"
[height]="600"
[showTitle]="true"
title="Detalle Viaje"
[dragEnabled]="true"
[closeOnOutsideClick]="true"
[(visible)]="popupVisible">
<div *dxTemplate="let data of 'content'">
    <detalle-viaje-popup></detalle-viaje-popup>
</div>
</dx-popup>