<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-block detalle-campos">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><b>Poseedor:</b> {{info.DTO.ProveedorNombre}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label><b>Placa:</b> {{info.DTO.Vehiculo}}</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label><b>Viaje #</b> {{info.DTO.ViajeNumero}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-block detalle-campos">
        <label>Distribución de Costos</label>
        <tabla-distribucion-costos-proveedor (costosYobservacion)="CrearNota($event)" [heightTabla]="200" [widthTabla]="785" [dataSource]="info.DTO.Detalle"></tabla-distribucion-costos-proveedor>
      </div>
    </div>
  </div>
</div>
