<div class="card">
    <div class="card-block detalle-campos">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>{{pregunta}}</p>
                <br>
                <br>
                <button class="btn btn-outline-danger" (click)="Cancelar()">Cancelar</button>
                <button style="float:right" class="btn btn-outline-primary" (click)="OK()">Confirmar</button>
            </div>
        </div>
    </div>
</div>