<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block detalle-campos">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Manifiesto:</label>
                        <p>{{dvs.detalle.Manifiesto}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Viaje Numero:</label>
                        <p>{{dvs.detalle.Numero}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Fecha Creacion:</label>
                        <p>{{us.ConvertJsonDateToString(dvs.detalle.FechaCreacion)}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Poseedor:</label>
                        <p>{{dvs.detalle.Poseedor}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Propietario:</label>
                        <p>{{dvs.detalle.Propietario}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Creado Por:</label>
                        <p>{{dvs.detalle.CreadoPor}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Vehiculo:</label>
                        <p>{{dvs.detalle.Vehiculo}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Estado Operativo:</label>
                        <p>{{dvs.detalle.EstadoOperativo}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Estado De Liquidacion:</label>
                        <p>{{dvs.detalle.EstadoDeLiquidacion}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Ciudad Origen:</label>
                        <p>{{dvs.detalle.CiudadOrigen}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Ciudad Destino:</label>
                        <p>{{dvs.detalle.CiudadDestino}}</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block detalle-campos">
                <label>Costos</label>
                <tabla-detalle-viaje-costos [costosLista]="dvs.detalle.Costos"></tabla-detalle-viaje-costos>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block detalle-campos">
                <label>Ingresos</label>
                <tabla-detalle-viaje-ingresos [ingresosLista]="dvs.detalle.Ingresos"></tabla-detalle-viaje-ingresos>
            </div>
        </div>
    </div>
</div>