<dx-data-grid #gridFacturas 
[width]="widthTabla" [style.height.px]="heightTabla" [hoverStateEnabled]="true"
 [columnAutoWidth]="true"
[showColumnLines]="true" [showRowLines]="true" [showBorders]="true" 
[rowAlternationEnabled]="true" [allowColumnReordering]="true"
[allowColumnResizing]="true" [dataSource]="dataSource" [selectedRowKeys]="[]"
(onCellPrepared)="onCellPrepared($event)"
(onRowClick)="DetalleFactura($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="Numero"></dxi-column>
    <dxi-column dataField="ClienteCodigo" caption="Cliente Codigo"></dxi-column>
    <dxi-column dataField="ClienteNombre" caption="Cliente Nombre"></dxi-column>
    <dxi-column dataField="Estado"></dxi-column>
    <dxi-column dataField="Fecha"></dxi-column>
    <dxi-column dataField="FechaCreacion" caption="Fecha Creacion"></dxi-column>
    <dxi-column dataField="Sucursal"></dxi-column>
    <dxi-column dataField="CreadoPor" caption="Creado Por"></dxi-column>
    <dxi-column dataField="Total" cellTemplate="cellTemplateValores"></dxi-column>
    <dxo-paging [pageSize]="24"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>  
    <div *dxTemplate="let data of 'cellTemplateValores'" style="text-align: right">
        {{data.data.Total | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div> 
</dx-data-grid>