<dx-data-grid #gridCostos [width]="'100%'" [style.height.px]="heightTabla" 
id="gridContainer" [hoverStateEnabled]="true" 
[allowColumnResizing]="true"
    [columnAutoWidth]="true" [showColumnLines]="true" 
    [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
    [allowColumnReordering]="true" [allowColumnResizing]="true"
    [dataSource]="costosLista" [selectedRowKeys]="[]">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxi-column dataField="Proveedor"></dxi-column>
    <dxi-column dataField="Articulo"></dxi-column>
    <dxi-column dataField="UnidadDeMedida" caption="Unidad De Medida"></dxi-column>
    <dxi-column dataField="Cantidad" caption="Cantidad"></dxi-column>
    <dxi-column dataField="CostoUnitario" caption="Costo Unitario" cellTemplate="cellTemplateValoresCostoUnitario"></dxi-column>
    <dxi-column dataField="CostoTotal" caption="Costo Total" cellTemplate="cellTemplateValoresCostoTotal"></dxi-column>
    <dxi-column dataField="FechaCreacion" caption="Fecha Creación" [calculateCellValue]="calculateCellValueFecha"></dxi-column>
    <dxi-column dataField="EstadoDeLiquidacion" caption="Estado De Liquidacion"></dxi-column>
    <dxo-summary>
        <dxi-total-item
            column="CostoTotal"
            summaryType="sum"
            valueFormat="currency"
            displayFormat="{0}">
        </dxi-total-item>
    </dxo-summary>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateValoresCostoUnitario'" style="text-align: right">
        {{data.data.CostoUnitario | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresCostoTotal'" style="text-align: right">
        {{data.data.CostoTotal | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
</dx-data-grid>