// background-color: #05a2e5; // Azul prod
// #D1C323 Amarillo Spx
html, body{
    background-color: white;
}

.hide-tabla-cli-prov{
    display: none;
}

.header-fixed .app-body {
     margin-top: 0px;
}
.header-principal{
    background-color: #D1C323;
    padding: 3px 35px;
    color: white;
  }
 .titulos-mod-art{
    border: 1px solid #dddddd;
    padding: 2px 5px;
    background-color: aliceblue;
    font-weight: 700;
    color: #567a99;
 }

.sidebar-fixed .main, .sidebar-fixed .app-footer {
    margin-left: 0px;
}

.main .container-fluid {
    padding: 0;
}
.selected-row{
    background: rgba(239, 232, 129, 0.4);
    color: black;
}
.table-sm th, .table-sm td {
    padding: 0 5px;
}

.form-control, button{
    padding: 0.1rem 0.75rem !important;
}

.filtro-requerido {
    border-right: solid 5px crimson !important;
    background: #f5d9d9 !important;
}

.filtro-opcional {
    border-right: solid 5px rgb(235, 183, 73) !important;
    background: #f1f5b7 !important;
}

.nav-link, .navbar .dropdown-toggle {
    display: block;
    padding: 0.2rem 1rem;
}

.limpiar{
    position: absolute;
    margin: -3px 0 0 108px;
    font-size: .7rem;
    cursor: pointer;
    padding: 1px 5px !important;
    background: white;
}

.filtros-liquidacion{
    padding: 1px 10px !important;
    font-size: smaller;
    background-color: white !important;
}

.mostrar-filtro{
    position: absolute;
    margin: -19px 0 0 73px;
    font-size: .7rem;
    cursor: pointer;
    padding: 1px 10px !important;
    background: white;
}

.mostrar-filtro-cli{
    position: absolute;
    font-size: .65rem;
    z-index: 50;
    margin-top: -29px;
    cursor: pointer;
    background: white;
}

.mostrar-filtro-manif{
    cursor: pointer;
    font-size: .7rem;
}

.modelos-articulos-box{
    border: solid 1px #dddddd;
    padding: 5px;
    min-height: 137px;
    margin-top: -8px;
    background: white;
}
.dx-tabpanel .dx-tab {
    padding: 0 !important;
}

.dx-popup-title.dx-toolbar {
    background: rgb(14, 60, 117) !important;
    color: white !important;
}

.dx-popup-title .dx-closebutton .dx-icon {    
    background-color: white;
}
.dx-popup-content {
    padding: 10px;
    background-color: ghostwhite;
}
.dx-placeholder {
    color: #999999;
    font-size: .7rem;
    margin: -2px 0 0 5px;
}
.dx-popup-title.dx-toolbar .dx-toolbar-label {
    font-size: .8rem;
}
.dx-datagrid-rowsview .dx-row{
    cursor: pointer;
}
.dx-datagrid .dx-row > td {
    padding: 1px 5px;
    font-size: 0.7rem;
}
.dx-pager {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: .7rem;
}
.dx-datagrid-content .dx-datagrid-table .dx-row > td {
    vertical-align: middle;
}
.dx-texteditor {
    background: #fff;
    border: 1px solid #c2cfd6;
    font-size: .7rem;
    height: 20px !important;
    width: 100%;
}
.dx-texteditor-input {
    padding: 4px 5px 4px;
    background: #fff;
    color: #676464;
    font-size: .7rem;
    margin-top: -4px !important;
}

.dx-overlay-content {
    position: absolute;
    z-index: 1000;
    outline: 0;
    overflow: visible !important;
}
.dx-dropdowneditor.dx-dropdowneditor-field-clickable {
    cursor: pointer;
    border-radius: 0 !important;
}

.dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
    padding: 10px !important;
}

.tabla-seleccionados{
    margin-top: 27px;
}
