/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */
// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "bootstrap/bootstrap";

// If you want you can import bootstrap scss files directly from node_modules or bower_components.
// To do this please remove @import "bootstrap/bootstrap"; and uncomment proper line.

// Import Bootstrap source files from node_modules
// @import "node_modules/bootstrap/scss/bootstrap";

// Import Bootstrap source files from bower_components
// @import "bower_components/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Import vendors styles
@import "vendors/vendors";

// Custom styles
@import "custom";


.card {
    margin-bottom: 0 !important;
}

hr {
    margin-top: .5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
h6 {
    font-size: .7rem;
}