.btn-acciones{
    height: 25px;
    padding: 2px 5px;
    font-size: smaller;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    color: #717171 !important;
}

.icon-acciones{    
    height: 25px;
    font-size: smaller;
    font-weight: 700;
}
