<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-block detalle-campos">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><b>Cliente Codigo:</b> {{info.codigoCliente}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label><b>Nombre:</b> {{info.nombreCliente}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-block detalle-campos">
        <label>Distribución de Costos</label>
        <tabla-distribucion-ingresos-cliente (ingresosYobservacion)="CrearNota($event)" [heightTabla]="200" [widthTabla]="785" [dataSource]="info.costosCli"></tabla-distribucion-ingresos-cliente>
      </div>
    </div>
  </div>
</div>
