<button title="Filtros" type="button" class="btn btn-secondary filtro" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    <i class="fa fa-filter"></i>
</button>
<button title="Limpiar Filtros" class="btn btn-secondary limpiar" (click)="Limpiar()">
    <i class="fa fa-eraser" aria-hidden="true"></i>
</button>
<button *ngIf="shown" title="{{titleBtnExpandir}}" class="btn btn-secondary expand" (click)="ExpandirTarifas()">
    <i *ngIf="!display" class="fa fa-chevron-up" aria-hidden="true"></i>
    <i *ngIf="display" class="fa fa-chevron-down" aria-hidden="true"></i>
</button>
<div id="collapseExample" class="filtroTarifas" *ngIf="!isCollapsed">
    <div [ngbCollapse]="isCollapsed">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div title="Ciudad de Destino" class="input-group-addon" [ngClass]="{'filtro-requerido': ciudadOrigenReq == 1, 'filtro-opcional':ciudadOrigenReq == 2}">
                        <i class="fa fa-map-marker" style="font-size: smaller;"></i>
                    </div>
                    <dx-autocomplete #ciuOrigen
                        placeholder="ciudad origen" 
                        valueExpr="CiudadDepartamentoDescripcion" 
                        [dataSource]="ciudades" 
                        (onItemClick)="CiudadSelectedOri($event)">
                        <div *dxTemplate="let item of 'item'">
                            <span>{{item.CiudadDepartamentoDescripcion}}</span>
                        </div>
                    </dx-autocomplete>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div title="Ciudad de Destino" class="input-group-addon" [ngClass]="{'filtro-requerido': ciudadDestinoReq == 1, 'filtro-opcional':ciudadDestinoReq == 2}">
                        <i class="fa fa-map-marker" style="font-size: smaller;"></i>
                    </div>
                    <dx-autocomplete #ciuDestino
                        placeholder="ciudad destino" 
                        valueExpr="CiudadDepartamentoDescripcion"
                        [dataSource]="ciudades" 
                        (onItemClick)="CiudadSelectedDes($event)">
                        <div *dxTemplate="let item of 'item'">
                            <span>
                                {{item.CiudadDepartamentoDescripcion}}
                            </span>
                        </div>
                    </dx-autocomplete>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Tipo de Vehículo" [ngClass]="{'filtro-requerido': vehiculoReq == 1, 'filtro-opcional':vehiculoReq == 2}">
                        <i class="fa fa-truck" style="font-size: smaller;"></i>
                    </div>
                    <select #vehi [(ngModel)]="filtroModel.TipoVehiculoCodigo" class="form-control" placeholder="ddd">
                        <option value="" selected>- Tipo Vehículo -</option>
                        <option value="{{veh.TipoVehiculoCodigo}}" *ngFor="let veh of vehiculos">{{veh.TipoVehiculoDescripcion}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Tipo de Ruta" [ngClass]="{'filtro-requerido': rutaReq == 1, 'filtro-opcional':rutaReq == 2}">
                        <i class="fa fa-road" style="font-size: smaller;"></i>
                    </div>
                    <select [(ngModel)]="filtroModel.TipoRutaCodigo" #ruta class="form-control">
                        <option value="" selected>- Tipo Ruta -</option>
                        <option value="{{ruta.TipoRutaCodigo}}" *ngFor="let ruta of rutas">{{ruta.TipoRutaDescripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Empaque" [ngClass]="{'filtro-requerido': empaqueReq == 1, 'filtro-opcional':empaqueReq == 2}">
                        <i class="fa fa-archive" style="font-size: smaller;"></i>
                    </div>
                    <select [(ngModel)]="filtroModel.EmpaqueOficialCodigo" #empaque class="form-control">
                        <option value=""  selected>- Empaque -</option>
                        <option value="{{empaque.EmpaquesCodigo}}" *ngFor="let empaque of empaques">{{empaque.EmpaquesDescripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Estado" [ngClass]="{'filtro-requerido': estadoReq == 1, 'filtro-opcional':estadoReq == 2}">
                        <i class="fa fa-check" style="font-size: smaller;"></i>
                    </div>
                    <select [(ngModel)]="filtroModel.Estado" #estado class="form-control">
                        <option value="1">- Estado -</option>
                        <option value="1" selected>Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Rango Mínimo"
                        [ngClass]="{'filtro-requerido': minReq == 1, 'filtro-opcional':minReq == 2}">
                        <b style="font-size: .5rem">MIN</b>
                    </div>
                    <input value="0" min="0" max="1000000000" #min
                        type="number" class="form-control lower" placeholder="rango minimo">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Rango Máximo">
                        <b style="font-size: .5rem">MAX</b>
                    </div>
                    <input [ngClass]="{'filtro-requerido': maxReq == 1, 'filtro-opcional':maxReq == 2}" value="0" min="0" max="1000000000" #max
                        type="number" class="form-control lower" placeholder="rango maximo">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Valor" 
                        [ngClass]="{'filtro-requerido': valorReq == 1, 'filtro-opcional':valorReq == 2}">
                        <i class="fa fa-dollar" style="font-size: smaller;"></i>
                    </div>
                    <input value="0" #valor type="text" class="form-control lower"
                        placeholder="valor">
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Rango Inicial Fecha Vencimiento (aaaa-mm-dd)" [ngClass]="{'filtro-requerido': fechaIniReq == 1, 'filtro-opcional':fechaIniReq == 2}">
                        <i class="fa fa-chevron-left" style="font-size: smaller;"></i>
                    </div>
                    <input [(ngModel)]="filtroModel.FechaInicial" #fechaIni class="form-control lower" placeholder="rango inicial (requerido)*"
                        ngbDatepicker #dIni="ngbDatepicker" required>
                    <button class="input-group-addon" style="width: 1rem" (click)="dIni.toggle()" type="button">
                        <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
                    </button>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <div class="input-group-addon" title="Rango Final Fecha Vencimiento(aaaa-mm-dd)" [ngClass]="{'filtro-requerido': fechaFinReq == 1, 'filtro-opcional':fechaFinReq == 2}">
                        <i class="fa fa-chevron-right" style="font-size: smaller;"></i>
                    </div>
                    <input [(ngModel)]="filtroModel.FechaFinal" #fechaFin class="form-control lower" placeholder="rango final (requerido)*" ngbDatepicker
                        #dFin="ngbDatepicker" required>
                    <button class="input-group-addon" style="width: 1rem" (click)="dFin.toggle()" type="button">
                        <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
                    </button>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="btn-group">
                    <button [disabled]="fechaIni.value == '' || fechaFin.value == ''" [style.cursor]="fechaIni.value == '' || fechaFin.value == '' ? 'not-allowed': 'pointer'"
                        style="width: 100%;" type="button" (click)="ObtenerTarifas(filtroModel)" class="btn btn-success">
                        <i class="fa fa-filter" style="font-size: smaller;"></i> Filtrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>