<div class="card" style="margin-top:5px;">
  <div class="card-block detalle-campos">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Numero:</b>
        </label>
        <p>{{liqGeneral?.Numero}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label>
          <b>Sucursal:</b>
        </label>
        <p>{{liqGeneral?.Sucursal}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Proveedor:</b>
        </label>
        <p>{{liqGeneral?.ProveedorNombre}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Factura proveedor:</b>
        </label>
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <p *ngIf="liqGeneral?.Estado !== 'Abierto'">{{liqGeneral?.ReferenciaExterna}}</p>
              <dx-text-box #textRef *ngIf="liqGeneral?.Estado === 'Abierto'" [width]="110" 
                value="{{liqGeneral?.ReferenciaExterna}}">
              </dx-text-box>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <button title="Guardar cambio" *ngIf="liqGeneral?.Estado === 'Abierto'"               
                type="button" class="btn btn-success" style="font-size: .6rem;width: 20px;margin-left: -10px;"                
                (click)="ActualizarReferenciaExterna()"><i class="fa fa-save" style="margin-left: -5px"></i></button>
            </div>
          </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Estado:</b>
        </label>
        <p>{{liqGeneral?.Estado}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Creado Por:</b>
        </label>
        <p>{{liqGeneral?.CreadoPor}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label>
          <b>Fecha Creacion:</b>
        </label>
        <p>{{us.ConvertJsonDateToString(liqGeneral?.FechaDeCreacion)}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Valor Bruto:</b>
        </label>
        <p>{{liqGeneral?.ValorBruto | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Valor Notas:</b>
        </label>
        <p>{{liqGeneral?.ValorNotas | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>
          <b>Neto A Pagar:</b>
        </label>
        <p>{{liqGeneral?.NetoAPagar | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}</p>
      </div>
    </div>
  </div>
</div>
