<dx-data-grid #gridIngresos [width]="'100%'" [style.height.px]="heightTabla" 
id="gridContainer" [hoverStateEnabled]="true"
[allowColumnResizing]="true" 
    [columnAutoWidth]="true" [showColumnLines]="true" 
    [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
    [allowColumnReordering]="true" [allowColumnResizing]="true"
    [dataSource]="ingresosLista" [selectedRowKeys]="[]">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxi-column dataField="RemesaRelacionDespacho"  caption="Remesa Relacion Despacho"></dxi-column>
    <dxi-column dataField="Guia"></dxi-column>
    <dxi-column dataField="EstadoDeFacturacion" caption="Estado De Facturacion"></dxi-column>
    <dxi-column dataField="FechaCreacion" caption="Fecha Creacion" [calculateCellValue]="calculateCellValueFecha"></dxi-column>
    <dxi-column dataField="Cliente"></dxi-column>
    <dxi-column dataField="CiudadOrigen" caption="Ciudad Origen"></dxi-column>
    <dxi-column dataField="CiudadDestino" caption="Ciudad Destino"></dxi-column>
    <dxi-column dataField="Articulo"></dxi-column>
    <dxi-column dataField="UnidadDeMedida" caption="Unidad De Medida"></dxi-column>
    <dxi-column dataField="Cantidad" caption="Cantidad"></dxi-column>
    <dxi-column dataField="IngresoUnitario" caption="Ingreso Unitario" cellTemplate="cellTemplateValoresIngresoUnitario"></dxi-column>
    <dxi-column dataField="IngresoTotal" caption="Ingreso Total" cellTemplate="cellTemplateValoresIngresoTotal"></dxi-column>
    <dxo-summary>
        <dxi-total-item
            column="IngresoTotal"
            summaryType="sum"
            valueFormat="currency"
            displayFormat="{0}">
        </dxi-total-item>
    </dxo-summary>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
    <div *dxTemplate="let data of 'cellTemplateValoresIngresoUnitario'" style="text-align: right; padding-top: 1px; padding-bottom: 1px">
        {{data.data.IngresoUnitario | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
    <div *dxTemplate="let data of 'cellTemplateValoresIngresoTotal'" style="text-align: right; padding-top: 1px; padding-bottom: 1px">
        {{data.data.IngresoTotal | currency:'COP':'symbol':'.2-2' | valNegNoParentesis}}
    </div>
</dx-data-grid>