<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <div class="btn-group">
      <div class="input-group-addon" title="Fecha Inicial (aaaa-mm-dd)">
        <i class="fa fa-chevron-left"></i>
      </div>
      <input [(ngModel)]="filtroModel.FechaInicial" #fechaIni class="form-control lower" placeholder="fecha inicial*" ngbDatepicker
        #dIni="ngbDatepicker" required>
      <button class="input-group-addon" style="width: 1rem" (click)="dIni.toggle()" type="button">
        <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <div class="btn-group">
      <div class="input-group-addon" title="Fecha Final (aaaa-mm-dd)">
        <i class="fa fa-chevron-right"></i>
      </div>
      <input [(ngModel)]="filtroModel.FechaFinal" #fechaFin class="form-control lower" placeholder="fecha final*" ngbDatepicker
        #dFin="ngbDatepicker" required>
      <button class="input-group-addon" style="width: 1rem" (click)="dFin.toggle()" type="button">
        <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button [disabled]="fechaIni.value == '' || fechaFin.value == ''" [style.cursor]="fechaIni.value == '' || fechaFin.value == '' ? 'not-allowed': 'pointer'"
      (click)="Buscar(filtroModel)" class="btn btn-primary" style="font-size: .7rem;width: 95%;margin-left: 5px;">
      <i class="fa fa-search"></i> Buscar
    </button>
  </div>
</div>